body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  html{
    scroll-behavior:smooth;
    background-color: #fff;
    height: 100%;
  }

  
  .side-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .side-side > ul{
    text-align: start;
    text-decoration: none;
    padding: 16px 20px;
  }


  /* --------------------------- */
  /* Navigation bar */
  header {
    /* background-color: #5b6c8b; */
    background-color: #232222;
    color: #fff;
    padding: 0;
  }

  nav ul li img{
    height: 16px;
    align-items: center;
    text-align: center;
  }
 
  nav{
    position: relative;
    margin: 0 20px;
  }
 .logo img{
    padding: 5px;
    margin: 5px;
    position: absolute;
    width: 160px;
  }

  .logo a{
    padding: 10px 5px;
  }


  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    text-align: end;
    padding: 20px 0;
    margin-right: 30px;
  }
  
  nav ul li {
    display: inline-block; /*It's very important to add ut as inline-block. or else, it will not be below where it should be*/
    position: relative;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 16px 20px;
  }

  nav ul li ul.dropdown li{
    display: block;
    text-align: start;
    padding: 10px;
    font-size: 14px;
  }

  nav ul li ul.dropdown{
    width: 100%;
    background-color: #323232; /*Color for dropdown: lighter*/
    position: absolute;
    z-index: 999;
    display: none;
  }
  
  nav ul li ul.dropdown li:hover{
    font-size: 18px;
    font-weight: 600;
  }
  
  nav ul li:hover ul.dropdown{
    display: block;
  }
  nav ul li a:hover {
    background-color: #555;
  }
  
  nav ul li.with-dropdown{
    padding: 0 10px;
  }


  /* ---------------------------- */
  /* Section:main header */
  .main-wrapper{
    padding-top: 24px;
    padding-left: 72px;
    padding-right: 72px;
    /* height: 100vh; */
    min-height: 100%;
    position: relative;
  }
  

  /* .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 54px;
    align-items: center;
    padding-bottom: 30px;
  } */

  .header{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 90vh;
    align-items: center;
    /* margin-bottom: 40px; */
    position: relative;
    overflow: hidden;
  }

  .video-play{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }

  .header .title h2{
    position: relative;
    padding: 24px;
    line-height: 48px;
    font-size: 20px;
    color: #ffffffc3;
    text-align: center;
    z-index: 3;
  }

  /* The blur div */
     .title {
    /* background: rgba(0, 0, 0, 0.180);
    backdrop-filter: blur(10px); */
    /* margin-top: 35%; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
  }

  .button-title-1, .button-title-2{
    margin-top: 28%;
    text-align: center;
    
  }

 .button-title-1 a, .button-title-2 a{
    text-decoration: none;
  }


  .the-main-title h1, .the-main-title h2{
    margin: 0 auto;
  }

  .button-title-1{
    display: flex;
    flex-direction: column;
    position: relative;
  }

   h4{
    color: white;
    padding-top: 10px;
    padding-left: 50px;
    z-index: 100;
    position: absolute;
  }

  .the-main-title{
    /* grid-column: span 2;
    position: relative; */
    /* display: inline; */
    text-align: center;
    position: relative;
    padding: 4px 16px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    background-color: #232222;
    box-shadow: 0px 10px 25px 10px rgba(255, 255, 255, 0.55);
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.180);
    backdrop-filter: blur(10px);
    z-index: 99;

  }
  .header .title h3{
    line-height: 24px;
    padding-left: 24px;
    color: #fff;
  }


  .header .title .wro-title{
    position: relative;
    margin: 24px;
    padding: 16px 32px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    background-color: #232222;
    box-shadow: 0px 10px 25px 10px rgba(255, 255, 255, 0.55);
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.180);
    backdrop-filter: blur(10px);

  }


  .header .title .wro-title:hover{
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(45deg, rgb(210, 64, 64), rgb(198, 54, 193), rgb(250, 179, 0));
  }

  /* .image-title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  } */

  /* .image-title img{
    width: 100%;
  } */



  /* Guidance */
  .guidance-div{
    margin: 40px;
    padding: 20px;
    background-color: #232222;
    color: #fff;
  }

  .guidance-h3{
    padding: 18px 16px;
  }

  .guidance-div h3{
    padding: 2px 0;
    font-weight: 500;
  }

  .guidance-div ol{
    padding-left: 32px;
    line-height: 32px;
  }
  
  /* .button-guidance{
   display: flex;
   flex-direction: row;
  } */


  .button-download{
    max-width: 100%;
    background: linear-gradient(45deg, rgb(210, 64, 64), rgb(198, 54, 193), rgb(250, 179, 0));
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 6px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.180);
  }

  .button-download:hover{
    background: linear-gradient(45deg, rgb(250, 179, 0), rgb(255, 135, 135), rgb(255, 143, 251));
    color: #000000;
    box-shadow: 0px -10px 12px rgba(0, 0, 0, 0.3);
  }

  .guidance-div ol{
    list-style-type: none;
    line-height: 40px;
  }

  .button-guidance li ul.with-number{
    list-style-type: circle;
    padding-left: 60px;
    line-height: 30px;
  }

  .guidance-div span.circle{
    font-weight: 900;
    background: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    color:#232222;
    margin-right: 4px;
  }

  span.bold{
    font-weight: 600;
    text-decoration: underline;
  }
  
  .guidance-h3 .h3-bold{
    font-size: 30px;
    font-weight: 700;
  }

  .guidance-h3 h4{
    font-weight: 500;
    color: #ffffffc1;
  }

  .button-guidance{
    padding-bottom: 20px;
  }
 

  h2.edit-text{
    display: inline;
    font-size: 30px;
    color: #000000;
    padding: 0 20px;
    border-radius: 12px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
 }
 